.timer-controller {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0008; 
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.timer-controller.visible {
  display: flex;
}

.timer-controller input {
  appearance: none;
  border: none;
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  border-radius: 100%;
  font-size: 56px;
  font-family: "Inter";
  outline: none;
}

.timer-controller input[type=number]::-webkit-inner-spin-button, 
.timer-controller input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.timer-controller input:focus {
  box-shadow: 0 0 0 var(--slide-outline-width) var(--slide-outline-color-fucus);
}


/* .timer-controller {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: auto;
    background-color: #0008;
    display: none;
    z-index: 1000;
    
  }

  .timer-controller fieldset {
    display: flex;
    position: fixed;
    top: var(--slide-gap);
    left: var(--slide-gap);
    right: var(--slide-gap);
    bottom: var(--slide-gap);
    padding: 0 var(--slide-gap);
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: max-content;
    height: 140px;
    border-radius: 70px;
    box-shadow: 0 0 0 var(--slide-outline-width) var(--slide-outline-color-fucus);
  }
  
  .timer-controller.visible {
    display: flex;
  }
  
  /* .slide-selector input {
    appearance: none;
    border: none;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    border-radius: 100%;
    font-size: 56px;
    font-family: "Inter";
    outline: none;
  }
  
  .slide-selector input:focus {
    box-shadow: 0 0 0 var(--slide-outline-width) var(--slide-outline-color-fucus);
  } */ */